<div class="container">
  <div class="row">
    <%= render 'items/genre', genres: @genres %>
    <div class="col-md-9 offset-md-1 my-5">
      <div class="mv-top mb-5">
        <div class="text-red font-weight-bold py-5 px-5">
          <div class="col-6 mx-auto message">
            ようこそ、ながのCAKEへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </div>
          <h2>新着情報</h2>
          <div class="d-flex flex-row mt-2"></div>
            <div class="col-sm-3">
            <div class="card">
            <% @items.last(4).reverse.each do |item| %>
              <div>
              <%= link_to item_path(item) do %>
                <%= attachment_image_tag item, :image, :fill, 200, 200, fallback: "no_image.jpg" %>
              <% end %>
              </div>
              <div><%= item.name %></div>
              <div>¥ <%= item.price.to_s(:delimited) %></div>
            <% end %>
            </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>